@media (max-width: 900px) {
    h1 {
        line-height: 62px;
    }

    h1:before {
        content: "";
        background: url("/src/img/logo.png") no-repeat center center;
        display: inline-block;
        width: 65px;
        height: 55px;
        background-size: contain;
        transform: translate(10px, 13px);
    }
    
    img {
        display: none;
    }
    
    nav, .header, .header .logo, .header .menu, .button {
        text-align: center;
    }

    nav, .header, .header .logo, .header .logo a, img, h1 {
        float: none;
    }

    nav, .header .logo, .header .menu li, .header .menu li a, .button {
        max-width: 100%;
    }

    .header {
        width: 100%;
    }

 
    .header .logo {
        font-size: 15px;
        display: block;
        max-width: 100%;
    }

    .header .menu {
        display: inline-block;
        padding-top: 30px;
        margin: 0 auto;
        width: 100%;
        transform: none;
    }



    .header .menu li {
        display: block;
        margin-bottom: 20px;
    }

    .header .menu li a {
        display: block;
        font-weight: 400;
        font-size: 30px;
    }

    li:nth-child(5n) {
        margin-right: auto;
    }

    .button {
        display: inline-block;
        margin-top: 50px;
        font-size: 15px;
        transform: none;
        float: none;
    }
}