@media (max-width: 900px) {
    nav {
        float: none;
        max-width: 100%;
    }

    h1 {
        line-height: 62px;
    }

    h1:before {
        content: "";
        background: url("/src/img/logo.png") no-repeat center center;
        display: inline-block;
        width: 65px;
        height: 55px;
        background-size: contain;
        transform: translate(10px, 13px);
    }
    
    img {
        display: none;
    }
    
    nav {
        text-align: center;
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .header .logo a, .header img, h1 {
        float: none;
    }
 
    .header .logo {
        font-size: 15px;
        display: block;
        text-align: center;
        max-width: 100%;
        float: none;
    }

    .header .menu {
        display: inline-block;
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        transform: none;
    }


    .header .menu li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .header .menu li a {
        display: block;
        font-weight: 400;
        font-size: 30px;
    }

    li:nth-child(5n) {
        margin-right: auto;
    }

    .button {
        display: inline-block;
        margin-top: 50px;
        font-size: 15px;
        max-width: 100px;
        text-align: center;
        transform: none;
        float: none;
    }
}