@media (max-width: 900px) {
    nav {
        float: none;
        width: 100%;
    }

    h1 {
        line-height: 62px;
    }

    h1:before {
        content: "";
        background: url("/src/img/logo.png") no-repeat center center;
        display: inline-block;
        width: 65px;
        height: 55px;
        background-size: contain;
        transform: translate(10px, 13px);
    }

    img {
        display: none;
    }

    .header .logo a, .header img, h1 {
        float: none;
    }
   
    .header .logo {
        font-size: 15px;
        display: block;
        text-align: center;
        width: 100%;
        float: none;
        background-color: red;
    }

    .header .menu {
        display: inline-block;
        padding-top: 30px;
        text-align: center;
        width: 100%;
        background-color: blueviolet;
        margin: 0 auto;
    }

    .header .menu ul li {
        display: block;
        width: 100%;
        margin-bottom: 2060px;
        font-weight: 400;
    }

    .header .menu ul li a {
        width: 100%;
        display: block;
    }

    li:nth-child(5n) {
        margin-right: auto;
    }

    .button {
        display: inline-block;
        margin-top: 80px;
        margin-right: 13px;
        font-size: 12px;
    }
}