.header img {
    float: left;
}

 .header .logo a{
    float: left;
}

.header {
    margin-top: 30px;
    max-width: 1440px;
    max-height: 436px; 
}

.header .logo {
    float: left;
}


nav {
    float: right;
}

.header .menu {
    transform: translateX(-80px);
}

.header .menu li {
    margin-top: 30px;
    display: inline-block;
}

.button {
    background-color: #5BC241;
    border-radius: 10px;
    padding: 10px 21px 11px 21px; 
    border-style: none;
    color: white;
    float: right;
    transform: translateY(-30px);
}

.menu-item:hover {
    background-color: #5BC241;
    color: white;
}

img {
    width: 95px;
    height: 55px;
}

h1 {
    margin-top: 10px;
    float: right;
    font-weight: 800;
    line-height: 37px;
}

nav {
    display: inline-block;
}

.menu-item {
    margin-right: 20px;
    padding: 13px;
    text-align: center;
}

.header .menu ul li {
    display: inline;
}

li:nth-child(5n) {
    margin-right: 56px;
}






