img {
    position: relative;
    max-width: 23%;
    height: 331px;
    margin-right: 10px;
}

.img-align {
    text-align: center;
    margin: 130px auto;
}

.img-align div {
    position: relative;
    display: inline;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 5px;
}

h1, h2 {
    z-index: 2;
    bottom: 0;
    left: 0;
    display: inline;
    position: absolute;
    text-align: center;
    /* transform: translateX(130px); */
}







